<footer class="<%= siteName %>_footer <%= siteName %>_block">
	<div class="<%= siteName %>_block-inner">
		<a href="" class="<%= siteName %>_footer-logo">
			<img src="dist/assets/logo-white.svg">
		</a>
		<ul class="<%= siteName %>_footer-pages">
			<li>
				<a href="">About</a>
			</li>
			<li>
				<a href="">Service</a>
			</li>
			<li>
				<a href="">Project</a>
			</li>
			<li>
				<a href="">Recruit</a>
			</li>
			<li>
				<a href="">Information</a>
			</li>
			<li>
				<a href="">Contact</a>
			</li>
		</ul>
		<ul class="<%= siteName %>_footer-other">
			<li>
				<a href="">個人情報保護方針</a>
			</li>
		</ul>
		<ul class="<%= siteName %>_footer-icons">
			<li>
				<a href="" target="_blank">
					<img src="dist/assets/icon-twitter.svg">
				</a>
			</li>
		</ul>
		<small>&copy;VORTEX 2023</small>
	</div>
</footer>