<section class="<%= siteName %>_cover">
	<div class="<%= siteName %>_cover-inner <%= siteName %>_fadeIn">
		<h1>関わる人の<br>「もっと」を応援する</h1>
		<p>テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。</p>
		<a href="" class="<%= siteName %>_button"><span>View More</span></a>
	</div>
	<img src="dist/assets/background.svg" class="<%= siteName %>_fadeIn">
</section>