<section class="<%= siteName %>_cover">
	<div class="<%= siteName %>_cover-inner <%= siteName %>_fadeIn">
		<h1>関わる人の<br>「もっと」を<br class="<%= siteName %>_sp--view">応援する</h1>
		<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
		<a href="" class="<%= siteName %>_button"><span>View More</span></a>
	</div>
	<img src="dist/assets/background.svg" class="js-textAnimation <%= siteName %>_fadeIn">
</section>