<% var siteName = 'vt'; %>
<html lang="ja">
<%- include( 'Components/_head' ); %>
<body>
<div class="<%= siteName %>_wrapper">
	<div class="<%= siteName %>_bg"></div>
<%- include( 'Components/_header', { siteName:siteName } ); %>
<%- include( 'Components/_loading', { siteName:siteName } ); %>
<main>
<%- include( 'Components/_mv', { siteName:siteName } ); %>
<section class="<%= siteName %>_block <%= siteName %>_service <%= siteName %>_block--gray">
	<div class="<%= siteName %>_block-inner">
		<div class="<%= siteName %>_block-heading">
			<h1>Service</h1>
		</div>
		<div class="<%= siteName %>_card-row <%= siteName %>_card-row_half">
			<div>
				<h2>システム<br class="<%= siteName %>_tb--view">エンジニアリング<br>サービス事業</h2>
			</div>
			<div>
				<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
				<div class="<%= siteName %>_button-wrapper">
					<a href="" class="<%= siteName %>_button"><span>View More</span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="<%= siteName %>_swiper-card-switch <%= siteName %>_block">
	<div class="<%= siteName %>_block-inner">
		<div class="<%= siteName %>_block-heading">
			<h1>Project</h1>
			<p>最新の案件情報をお知らせします。</p>
		</div>
	    <div id="mySwiperCardSwitch" class="swiper">
	        <div class="swiper-wrapper">
	            <% for (var i = 0; i < 4; i++) { %>
	            <a href="" class="swiper-slide">
	                <article class="slide">
	                    <div class="slide-content">
	                        <time class="slide-date" datetime="2021-12-01">2021年12月1日</time>
	                        <div class="slide-text">
	                        	<h2>Media系SDK開発</h2>
	                        </div>
	                        <div class="slide-text <%= siteName %>_ellipsis">
	                            <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
	                        </div>
	                        <div class="slide-text">
	                            <p>単価 / ポジション / エリア</p>
	                        </div>
	                    </div>
	                </article>
	            </a>
	            <% } %>
	        </div>
	    </div>
	    <div class="<%= siteName %>_button-wrapper <%= siteName %>_button-wrapper--right">
			<a href="" class="<%= siteName %>_button"><span>View More</span></a>
		</div>
	</div>
</section>
<section class="<%= siteName %>_block <%= siteName %>_points">
	<div class="<%= siteName %>_block-inner">
		<div class="<%= siteName %>_block-heading">
			<h1>For Engineer</h1>
			<p>VORTEXはエンジニアが安心して業務に専念できるよう、よりよい環境を用意することで高いクオリティのサービスを提供します。</p>
		</div>
		<ul>
			<li>
				<div class="<%= siteName %>_points-block <%= siteName %>_block--gray">
					<div class="<%= siteName %>_points-img">
						<img src="dist/assets/point-01.jpg">
					</div>
					<div class="<%= siteName %>_points-text">
						<h2>還元率80%</h2>
						<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
					</div>
				</div>
			</li>
			<li>
				<div class="<%= siteName %>_points-block <%= siteName %>_block--gray">
					<div class="<%= siteName %>_points-img">
						<img src="dist/assets/point-02.jpg">
					</div>
					<div class="<%= siteName %>_points-text">
						<h2>案件選択の自由</h2>
						<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
					</div>
				</div>
			</li>
			<li>
				<div class="<%= siteName %>_points-block <%= siteName %>_block--gray">
					<div class="<%= siteName %>_points-img">
						<img src="dist/assets/point-03.jpg">
					</div>
					<div class="<%= siteName %>_points-text">
						<h2>福利厚生の充実</h2>
						<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
					</div>
				</div>
			</li>
		</ul>
		<div class="<%= siteName %>_button-wrapper <%= siteName %>_button-wrapper--right">
			<a href="" class="<%= siteName %>_button"><span>View More</span></a>
		</div>
	</div>
</section>
<section class="<%= siteName %>_block <%= siteName %>_recruit <%= siteName %>_block--blur">
	<div class="<%= siteName %>_block-inner">
		<div class="<%= siteName %>_block-heading">
			<h1>Recruit</h1>
		</div>
		<div>
			<h2><span>Join</span><span>Our</span><span>Team</span></h2>
			<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
		</div>
		<div class="<%= siteName %>_button-wrapper <%= siteName %>_button-wrapper--right">
			<a href="" class="<%= siteName %>_button"><span>View More</span></a>
		</div>
	</div>
</section>
<section class="<%= siteName %>_block <%= siteName %>_information">
	<div class="<%= siteName %>_block-inner">
		<div class="<%= siteName %>_block-heading">
			<h1>Information</h1>
			<p>最新情報をお知らせします。</p>
		</div>
		<ul>
			<% for (var i = 0; i < 3; i++) { %>
			<li>
				<a href="">
					<div>
						<time class="slide-date" datetime="2021-12-01">2021年12月1日</time>
						<span>Media</span>
					</div>
					<div>
						<p>「Forbes JAPAN」2022年10月号にVORTEXが掲載されました</p>
					</div>
				</a>
			</li>
			<% } %>
		</ul>
		<div class="<%= siteName %>_button-wrapper <%= siteName %>_button-wrapper--right">
			<a href="" class="<%= siteName %>_button"><span>View More</span></a>
		</div>
	</div>
</section>
</main>
<%- include( 'Components/_footer', { siteName:siteName } ); %>
</div>

<!-- Smooth Scroll -->
<script src="dist/js/smoothscroll.min.js"></script>

<!-- Loading -->
<script src="dist/js/loading.min.js"></script>

<!-- Hamburger -->
<script src="dist/js/slideMenu.min.js"></script>

<!-- Swiper -->
<script src="dist/js/swiper-bundle.min.js"></script>
<script>
	////////////////////
	// mySwiperCardSwitch
	////////////////////
	let mySwiperCardSwitch = null;
	const mediaQuery = window.matchMedia('(max-width: 1024px)');

	const checkBreakpoint = (e) => {
		if (e.matches) {
			initMySwiperCardSwitch();
		} else if (mySwiperCardSwitch) {
			mySwiperCardSwitch.destroy(false, true);
		}
	}

	const initMySwiperCardSwitch = () => {
		mySwiperCardSwitch = new Swiper('#mySwiperCardSwitch.swiper', {
			slidesPerView: 1,
			spaceBetween: 16,
			loop: false,
			speed: 1000,
			grabCursor: true,
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			breakpoints: {
				600: {
					slidesPerView: 2,
				}
			},
		});
	};

	mediaQuery.addListener(checkBreakpoint);

	checkBreakpoint(mediaQuery);
</script>

</body>
</html>